.gallery {
  margin-bottom: 100px;
  position: relative;
}

.gallery__title {
  width: 30vw;
  max-width: 750px;
  margin: 0;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
  line-height: 110%;
}

