.promo {
  width: 100%;
  height: 619px;
  flex-shrink: 0;
  background-image: url("../img/promo-image.jpg");
  background-size: cover;
  padding: 100px 130px;
  margin-bottom: 100px;
}

@media (min-width: 1280px) {
  .promo {
    padding-top: 175px;
  }
}



.promo__title {
  width: 23vw;
  width: 600px;
  min-width: 23vw;
  margin: 0;
  margin-bottom: 24px;
  color: $default-white;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 50px;
  width: 600px;
  min-width: 23vw;
  color: $default-white;
  font-size: 28px;
  font-style: normal;
  font-variant: small-caps;
}
