//*** font-family ***//
$font-page: "Fira Sans Condensed", "Arial", sans-serif;
$font-second: "Jost", "Arial", sans-serif;

//*** font-size ***//
$font-small: 14px;
$font-medium: 18px;

//*** colors ***//
$default-black: #000000;
$default-white: #ffffff;

//*** media-width ***//
$tablet-width: 768px;
$desktop-width: 1440px;
